*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.logo{
    width: 50px;
}

body{
    background-color: #222;
}

ul{
    font-size: 30px;
    padding: 0;
    list-style: 'none';
    color: gray;
}
li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#home{
    width: 900px;
}

.btnn {
    cursor: pointer;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .btnn {
    background: rgba(0, 140, 255, 0.374);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .btnn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }

  .export-buttons{
    margin-top: 30px;
    margin-left: 250px;
  }

